@charset "UTF-8";

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(24, 41, 90);
}

body {
  background-color: rgb(255, 255, 235);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho Pro";
  padding-bottom: 60px;
}


.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container {
  color: #00124e;
  width: 100%;
  min-height: 600px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.container p {
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 120px;
  transform-origin: left top;
  transform: rotate(-30deg);
  color: rgb(24, 41, 90);
  margin: 0;
}

.menu-nav {
  justify-self: right;
  color: #000;
}

footer {
  background-color: rgb(24, 41, 90);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
}